@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    300deg,
    rgba(207, 230, 232, 1) 39%,
    rgba(144, 162, 250, 0.2774976201418067) 100%
  );
  --foreground: #171717;
  --photo_background: linear-gradient(
    300deg,
    rgba(255, 247, 237, 1) 0%,
    rgba(255, 224, 185, 1) 85%,
    rgba(255, 158, 39, 1) 100%
  );
  --r-b_shadow: inset 5px 10px 50px 0px rgba(99, 99, 99, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.spinner1 {
  width: 50px;
  height: 50px;
  border: 5px solid #ff9e27;
  border-top-color: #fff7ed;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.spinner2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.background {
  background: var(--background);
}

.photoBackground {
  background: var(--photo_background);
}

.rbShadow {
  box-shadow: var(--r-b_shadow);
}
