@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    300deg,
    rgba(207, 230, 232, 1) 39%,
    rgba(144, 162, 250, 0.2774976201418067) 100%
  );
  --foreground: #171717;
  --photo_background: linear-gradient(
    300deg,
    rgba(255, 247, 237, 1) 0%,
    rgba(255, 224, 185, 1) 85%,
    rgba(255, 158, 39, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background: var(--background);
}

.photoBackground {
  background: var(--photo_background);
}
